.blog__date {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.45em;
    padding-left: 0;
}

.blog__genre {
    font-weight: bold;
    border: solid 2px #285E61;
    padding: 0.3em;
    border-radius: 0.5em;
    text-align: center;
    background-color: #E6FFFA;
}

.blog__tag {
    font-weight: bold;
    border: solid 2px #2D3748;
    padding: 0.3em;
    border-radius: 0.5em;
    text-align: center;
    background-color: #E2E8F0;
}